.containerNivel, .containerNivel::after, .containerNivel::before{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.containerNivel{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.containerImage{
    position: relative;
    width: 70px;
    height: 54px;
}

.ImageNivel{
    object-fit: cover;
}

.progressBar{
    position: relative;
    width: 114px;
    height: 23.73px;
    background: #373737;
    border-radius: 10px;
    color: #fff;
}

.progressBar::before{
    content: attr(data-label);
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 0;
    top: 0em;
    bottom: 0em;
    width:80%;
    min-width: 2rem;
    background: #a3218e;
    border-radius: 1em;
}