@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');


.main{
    background-color: #101017;
    opacity: 0.9;
}

.container
 {
    background: linear-gradient(135deg, #101017, #170C2F, #2B1453, #49228E, #7A218E,  #49228E, #2B1453, #170C2F, #101017);

}

.mask {

    background-color: #09090C;
    background-size: cover;
    opacity: 0.9;

}


.mask h2{
    font-size: 4rem;
    text-align: center;
    padding: 3vw 0;

}

#logo{
    width: 50vw;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

#psobreNos{
    padding: 4vw 15vw 8vw 15vw;
    text-align: center;
}

.sobreAurora{
    border-bottom: 2px solid rgba(82, 82, 82, 0.50);
    display: flex;
    align-items:center;
    padding: 10vh 10vw;
}

.aurora{
    height: 75vh;
    margin-right: 8vw;
}

.auroraContainer h2{
    font-size: 3rem;
    padding-bottom: 10vh;
}

.conhecaNossoTime h2{
    font-size:3rem;
    padding: 10vh;
    padding-bottom: 25vh;
    text-align: center;
}

.fileira{
    display: flex;
    align-items: center;
    justify-content: center;
}

.devContainer{
    padding: 0 4vw 10vw 4vw;
}

/* Equipe Conatiner */
.containerInformacoes{
    width: 30vw;
    height: 40vw;
    background-color: #333333;
    border-radius: 1rem;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.informacoes{
    position: absolute;
    top: 40%;
    transform: translateY(-50%);
    padding: 4vw 2vw;
    margin-bottom: 4vw;

}

.cargos{
    text-align: center;
    font-size: 1.3vw;
    text-decoration: underline;
    font-weight: 100;
}

.mensagem{
    position:absolute;
    bottom: 10%;
    padding: 0 2vw;
    text-align: center;
    font-size: 1.2vw;

}

.containerInformacoes svg{
    position: absolute;
    bottom: 0;
}

.imageEquipe{
    width: 14vw;
    border-radius: 100%;
    position: absolute;
    top: -20%;
    left: 50%;
    transform: translateX(-50%);
    border: solid 1vw;
}

.nome{
    font-size: 2.2vw;
    text-align: center;
}

/* Beatriz */

#beatrizImage{
    border-color: #A3218E;
}

.nomeBeatriz{
    color: #A3218E;
}

/* Camille */

#camilleImage{
    border-color: #832290;
}

.nomeCamille{
    color: #832290;
}

/* Davi */

#daviImage{
    border-color: #722292;
}

.nomeDavi{
    color: #722292;
}

/* Erick */

#erickImage{
    border-color: #5A2294;
}

.nomeErick{
    color: #5A2294;
}

/* Erick */

#hernandoImage{
    border-color: #502394;
}

.nomeHernando{
    color: #502394;
}

/* Leonardo */

#leonardoImage{
    border-color: #402D99;
}

.nomeLeonardo{
    color: #402D99;
}

/* Marcos */

#marcosImage{
    border-color: #1B50A8;
}

.nomeMarcos{
    color: #1B50A8;
}

/* Rian */

#rianImage{
    border-color:#0465B2;
}

.nomeRian{
    color: #0465B2;
}

@media (max-width: 1400px){

    #logo{
        width: 70vw;
    }
    .sobreAurora{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .aurora{
        margin-right: 0;
        
    }
    
    .auroraContainer h2{
        text-align: center;
        font-size: 3rem;
        padding: 10vh;
    }

    .auroraContainer p{
        text-align: center;
        padding: 0 10vh;
    }
    
}

@media (max-width: 1000px){

    #logo{
        padding: 5vh;
    }
    .fileira{
        flex-direction: column;
    }
    
    .devContainer{
        padding: 0 4vh 20vh 4vh;
    }
    
    /* Equipe Conatiner */
    .containerInformacoes{
        width: 50vh;
        height: 80vh;
        
    }
    .mensagem{
        position:absolute;
        bottom: 10%;
        padding: 0 4vh;
        text-align: center;
        font-size: 2.5vh;
    
    }

    .cargos{
        font-size: 3vh;
        padding: 0 4vh;
    }

    
    .containerInformacoes svg{
        position: absolute;
        bottom: 0;
    }
    
    .imageEquipe{
        width: 25vh;
    }
    
    .nome{
        font-size: 2.2rem;
        text-align: center;
    }

}

@media (max-width: 700px){
    /* p{
        font-size: 1rem;
    } */

}