/* Estilos Globais, se necessário */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@200;300;400;500;600;700;800;900&display=swap');

/* Estilos do Componente Home */
.mainComplaint {
    height: 100vh;
    width: 100vw;

  
}


/* Estilos do Componente Denúncia */
.backgroundComplaint {
    position: relative;
    background: #000;
    height: 100vh;
    overflow: hidden;
    align-items: center;
}

.backgroundComplaint::before,
.backgroundComplaint::after {
    content: "";
    position: absolute;
    background-color: #4B2395;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    filter: blur(120px);
}

.backgroundComplaint::before {
    top: 50%;
    left: 30%;
    transform: translate(-50%, -50%);
}

.backgroundComplaint::after {
    bottom: 0;
    right: 0;
}

.buttonBackReport {
    width: 2vw;
    height: 2vw;
    margin-left: 2vw;
    margin-top: 3vw;
    background: transparent;
    border: 0;
    position: absolute;
}

.h1Complaint{
  font-family: 'Exo 2' sans-serif;
  font-size: 5vw;
  color: #4B2395;
  text-align: center;
  padding-top: 5%;
  
}

.lacoRoxo{
margin-left: 78%;
margin-top: -6vw;
}

.imageAndBoxComplaint {
  display: flex;
  align-items: center;
  height: 100%; 
  
}

.imageHandComplaint {
  padding: 0.5vw;
}

.imageComplaint {
  width: 25%;
  margin: 5%;
  margin-bottom: 22%;
  margin-left: 15%;
  margin-top: 10%;
  display: flex;
  flex-direction: column;

}



/* lista das opções */
.accordion {
  margin-bottom: 30%;
  width: 40vw;
  font-weight: 1;

  /* max-width: ; */
}

.accordion li {
  list-style: none;
  width: 100%;
  font-size: 0.2vw;
  padding: 0.2vw;
  font-family: Poppins, sans-serif;
  font-weight: 1;
  color: #090909;
  text-align: center;
}

.accordion li label {
  color: #ffff;
  display: flex;
  align-items: center;
  padding: 2vw;
  font-size: 1.5vw;
  font-weight: 10;
  background: #4B2395;
  margin-bottom: 0.3vw;
  cursor: pointer;
  position: relative;
  text-align: center;
}

.label::after {
  content: '+';
  font-size: 3vw;
  position: absolute;
  right: 1vw;
  transition: -webkit-transform 0.6s, transform 0.6s;
}


.li input[type="radio"] {
  display: none;
}

.accordion .contentReport {
  background-color: #D9D9D9;
  text-align: left;
  padding: 0 2vw;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s, padding 0.5s;
}

/* aparecer o conteudo */
.accordion input[type="radio"]:checked+label+.contentReport {
  max-height: 20vw;
  padding: 1vw 1vw;
}

/* animação mais */
.accordion input[type="radio"]:checked+label::after {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.contentReport{
  font-size: 1vw;
  font-weight: SemiBold;
  color: #000;
  font-family: 'Poppins' sans-serif;
  
}

.label{
  text-align: center;
  font-size: 100px;
}
.accordion input[type="radio"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  border: none;
  background: none;
}

/* ... Seu código existente ... */

.accordion li {
  text-align: center;
}

.accordion li label {
  display: block;
  color: #ffff;
  padding: 2vw;
  font-size: 1.5vw;
  font-weight: 0;
  background: #4B2395;
  margin-bottom: 0.3vw;
  cursor: pointer;
  position: relative;
}

.accordion .contentReport {
  background-color: #D9D9D9;
  text-align: center; /* Alinhamento central para o conteúdo do acordeão */
  padding: 0 2vw;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s, padding 0.5s;
}

.accordion .contentReport p {
  text-align: left; /* Alinhamento à esquerda para o conteúdo do parágrafo dentro do acordeão */
}

.more{
  position: absolute;
  left: 85%;
  bottom: 50%;
  transform: translate(50%, 50%);
}









/* Responsividade */
/* MOBILE */
@media (max-width: 480px) {
  .h1Complaint {
      font-size: 8vw;
      margin-top: 6vw;
      margin-left: 8vw;
  }

  .topComplaint image {
      width: 7vw;
      margin-top: 2vw;
      margin-left: 2vw;
  }

  .buttonBackReport {
      width: 5vw;
      margin-top: 4vw;

  }



  .imageAndBoxComplaint {
      height: 80%;
      
  }
  .imageComplaint {
      display:grid;
      grid-template-columns: repeat(2, 1fr); 
      gap: 10px;
      margin-left: 14vw;
  }
  .imageComplaint img {
      width: 25vw;
      margin-right: -8vw;
      margin-left: 20vw;
      margin-bottom: 60vw;
      flex:1;
  }
  .boxComplaint{
      display: flex;
      justify-content: center;
  }
  .accordion{
      width: 70vw;
      margin-top: 70vw;
      margin-right: 30vw; 
      
  }
  .accordion li{
      font-size: 3.5vw;
  }
  .accordion li label{
      margin-bottom: 2vw;
      font-size: 4.5vw;
  }
  .label::after{
      font-size: 7vw;
  }
  .accordion input[type="radio"]:checked+label+.contentReport{
      max-height: 60vw;
  }
}

/* Extra Small Devices */
@media (min-width: 481px) and (max-width: 767px) {
  .h1Complaint {
      font-size: 7vw;
      margin-top: 7vw;
      margin-left: 14vw;
  }

  .topComplaint img {
      width: 6vw;
      margin-top: 4vw;
      margin-left: 2vw;
  }
  .buttonBackReport {
      width: 5vw;
      margin-top: 4vw;

  }



  .imageAndBoxComplaint {
      height: 60%;
      
  }
  .imageComplaint {
      display:grid;
      grid-template-columns: repeat(2, 1fr); 
      gap: 10px;
      margin-left: 14vw;
  }
  .imageComplaint img {
      width: 20vw;
      margin-right: -1vw;
      margin-left: 18vw;
      margin-bottom: 29vw;
      flex:1;
  }
  
  .accordion{
      width: 60vw;
      margin-top: 60vw;
      margin-right: 30vw; 
      
  }
  .accordion li{
      font-size: 3vw;
  }
  .accordion li label{
      margin-bottom: 2vw;
      font-size: 3vw;
  }
  .label::after{
      font-size: 5vw;
  }
  .accordion input[type="radio"]:checked+label+.contentReport{
      max-height: 50vw;
  }
}

/* Extra Tablets */
@media (min-width: 768px) and (max-width: 991px) {
  .h1Complaint {
      font-size: 7vw;
      margin-top: 7vw;
      margin-left: 14vw;
  }

  .topComplaint img {
      width: 6vw;
      margin-top: 4vw;
      margin-left: 2vw;
  }
  .buttonBackReport {
      width: 5vw;
      margin-top: 4vw;

  }


  .imageAndBoxComplaint {
      height: 60%;
      
  }
  .imageComplaint {
      display:grid;
      grid-template-columns: repeat(2, 1fr); 
      gap: 10px;
      margin-left: 14vw;
  }
  .imageComplaint img {
      width: 20vw;
      margin-right: -1vw;
      margin-left: 18vw;
      margin-bottom: 29vw;
      flex:1;
  }
  
  .accordion{
      width: 60vw;
      margin-top: 60vw;
      margin-right: 30vw; 
      
  }
  .accordion li{
      font-size: 3vw;
  }
  .accordion li label{
      margin-bottom: 1vw;
      font-size: 3vw;
  }
  .label::after{
      font-size: 5vw;
  }
  .accordion input[type="radio"]:checked+label+.contentReport{
      max-height: 50vw;
  }
}

/* Extra Tablets/Laptops */
@media (min-width: 992px) and (max-width: 1199px) {
  .h1Complaint {
      font-size: 5vw;
      margin-top: 7vw;
      margin-left: 25vw;
  }

  .topComplaint img {
      width: 4.5vw;
      margin-top: 5vw;
      margin-left: 2vw;
  }
  .buttonBackReport {
      width: 5vw;
      margin-top: 4vw;

  }

  .imageAndBoxComplaint {
      height: 60%;
      
  }
  .imageComplaint {
      display:grid;
      grid-template-columns: repeat(2, 1fr); 
      gap: 10px;
      margin-left: 14vw;
  }
  .imageComplaint image {
      width: 15vw;
      margin-right: -1vw;
      margin-left: 23vw;
      margin-bottom: 20vw;
      flex:1;
  }
  
  .accordion{
      width: 60vw;
      margin-top: 40vw;
      margin-right: 30vw; 
      
  }
  .accordion li{
      font-size: 1.6vw;
  }
  .accordion li label{
      margin-bottom: 1vw;
      font-size: 2.2vw;
  }
  .label::after{
      font-size: 5vw;
  }
  .accordion input[type="radio"]:checked+label+.contentReport{
      max-height: 50vw;
  }
  
}