@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@700;800&family=Poppins:wght@200;700&display=swap');

.main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: #1E0E3B;
}


.containerMap{
  height: 560px;
  width: 85%;
  background: #262746;
  border-radius: 20px;
  margin-left: 8%;
  margin-top: 2%;
  display: inline-block ;
  }
  
.containerModule{
  background: #1E0E3B;
  width: 70%;
  height: 90%;
  border-radius: 20px;
  margin-top: 2.5%;
  margin-left: 15%;
  border: 13px solid #4B2395;
  position: relative;
  
}

.containerTitle{
  background-color: #ffffff;
  height: 15%;
  width: 80%;
  border-radius: 20px;
 text-align: center; 
 margin-left: 10%;
 bottom: 40px;
 display: inline-block ;
 position: relative;
}

.containerTitle h1{
  color: #4B2395;
  margin-top: 15px;
  font-family: 'Exo 2', sans-serif;
}

.accentuation{
  width: 150px;
  height: 150px;
  position: relative;
  right: 60%;
  margin-top: 40%;
  border-radius: 20PX;
  background: #4B2395;
  border: #4B2395;
  display: inline-block ;
  margin-bottom: 0px;
}

.accentuation h1{
  color: #ffffff;
  border: 3px solid #ffffff;
  border-radius: 5px;
  width: 120px;
  height: 30px;
  font-size: 15px;
  margin-left: 10%;
  bottom: 70%;
  padding: 4px;
  font-family: 'Exo 2', sans-serif;

}

.button .mortarboard{
bottom: 95%;
}

.adverb{
  width: 150px;
  height: 150px;
  border-radius: 20px;
  border: 4px solid #4B2395;
  background: #1E0E3B;
  display: inline-block ;
 margin-top: 40%;
 margin-bottom: 0px;
}

.adverb h1{
  color: #4B2395;
  background: #D9D9D9;
  border-radius: 5px;
  width: 120px;
  height: 35px;
  font-size: 15px;
  margin-left: 8%;
  bottom: 85%;
  padding: 4px; 
  text-align: center;
  padding-top:8px;
  position: relative;
  font-family: 'Exo 2', sans-serif;
}

.lock{
  margin-left: -8%;
  margin-top: -8%;
}

.containerPhase section{
display:grid ;
grid-template-columns: 150px 150px 150px;
justify-content: center;
align-items: center;
}

.adjective{
  width: 150px;
  height: 150px;
  border-radius: 20px;
  border: 4px solid #4B2395;
  background: #1E0E3B;
  display: inline-block ;
  margin-top: 40%;
  margin-left: 60%;
  margin-bottom: 0px;
}

.adjective h1{
  color: #4B2395;
  background: #D9D9D9;
  border-radius: 5px;
  width: 120px;
  height: 35px;
  font-size: 15px;
  margin-left: 8%;
  bottom: 85%;
  padding: 4px; 
  text-align: center;
  padding-top:8px;
  position: relative;
  font-family: 'Exo 2', sans-serif;
}

.pronoun{
  width: 150px;
  height: 150px;
  border-radius: 20px;
  border: 4px solid #4B2395;
  background: #1E0E3B;
  display: inline-block ;
  margin-top: 20%;
  margin-left: -60%;
}

.pronoun h1{
  color: #4B2395;
  background: #D9D9D9;
  border-radius: 5px;
  width: 120px;
  height: 35px;
  font-size: 15px;
  margin-left: 8%;
  bottom: 85%;
  padding: 4px; 
  text-align: center;
  padding-top:8px;
  position: relative;
  font-family: 'Exo 2', sans-serif;
}

.crasis{
  width: 150px;
  height: 150px;
  border-radius: 20px;
  border: 4px solid #4B2395;
  background: #1E0E3B;
  display: inline-block ;
  margin-top: 20%;
}

.crasis h1{
  color: #4B2395;
  background: #D9D9D9;
  border-radius: 5px;
  width: 120px;
  height: 35px;
  font-size: 15px;
  margin-left: 8%;
  bottom: 85%;
  padding: 4px; 
  text-align: center;
  padding-top:8px;
  position: relative;
  font-family: 'Exo 2', sans-serif;
}

.substantive{
  width: 150px;
  height: 150px;
  border-radius: 20px;
  border: 4px solid #4B2395;
  background: #1E0E3B;
  display: inline-block ;
  margin-top: 20%;
  margin-left: 60%;
}

.substantive h1{
  color: #4B2395;
  background: #D9D9D9;
  border-radius: 5px;
  width: 120px;
  height: 35px;
  font-size: 15px;
  margin-left: 8%;
  bottom: 85%;
  padding: 4px; 
  text-align: center;
  padding-top:8px;
  position: relative;
  font-family: 'Exo 2', sans-serif;
}

.arrowLeft{
  background: #A3218E;
  border-radius: 20px;
  border: 1px solid #A3218E;
  width: 80px;
  height: 80px;
  position: absolute;
  margin-top: -220px;
  left: -125px;
  
  
}

.arrowRight{
  background: #A3218E;
  border-radius: 20px;
  border: 1px solid #A3218E;
  width: 80px;
  height: 80px;
  position: absolute;
  margin-top: -220px;
  right: -125px;
  
}

.level{
  margin-top: -430px;
  position: absolute;
  left: 53vw;
}

.level h4{
  left: 5.7vw;
  position: relative;
  margin-top: -60px;
  color: #ffffff;
  font-size: 1vw;
  font-family: 'Poppins', sans-serif;
}

.level h5{
  position: relative;
  margin-top: -13px;
  color: #ffffff;
  font-size: 26px;
  font-family: 'Poppins', sans-serif;
}

.level p{
width: 100px;
background: #373737;
margin-left: 70px; 
position: absolute;
border-radius: 0px 20px 20px 0px;
color: #ffffff;
bottom: 25px;
}