@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@700;800&family=Poppins:wght@200&display=swap');


.container {
    background: linear-gradient(135deg, #101017, #170C2F, #2B1453, #49228E, #7A218E,  #49228E, #2B1453, #170C2F, #101017);
  }
  /* .navbar {
    
  } */
  .mask {
    min-height: 100vh;
    background-color: #000;
    background-size: cover;
    opacity: 0.8;
  }
  
  .main {
    margin-top: 100px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }
  
  .logoDescription {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  /* TITTLE, SUB TITTLE AND DESCRIPTION */
  .title,
  .description,
  .subTitle{
    margin-left: 130px;
    text-align: left;
    margin-bottom: 30px;
    font-weight: 900;
    font-family: 'Poppins', sans-serif;
  }
  
  .subTitle {
    color: #fff;
    font-size: 1.7rem;
    margin-bottom: 10px;
  }
  .description {
    color: #fff;
    font-size: 1.4rem;
  }
  
  /* BUTTON SETTINGS  */
  .btn {
    margin-left: 120px;
  }
  
  .btn button{
    background: #4B2395;
    border-color: #4B2395;
    border-radius: 8.62px;
    margin: 15px;
    box-shadow: none;
    border-style: solid;
    cursor: pointer;
  }
  
  .btn a{
    color: #fff;
    font-size: 21px;
    font-family: 'Exo 2', sans-serif;
  }
  
  .btn button:hover{
      background: #4B2395;
  }
  .btn a h2{
    padding: 14px 220px;
  }
  
  .btn .btn2 {
    background: transparent;
    border-color: #4B2395;
    border-radius: 8.62px;
    margin: 15px;
  }
  .btn .btn2 a h2{
    padding: 14px 264px;
  }
  

  /* IMAGE AURORA  */
  .aurora{
    width: 20%;
    position: absolute;
    left: 1040px;
    top: 110px;
    display: inline-block;
  }
  
    .containerTwo,
    .containerThree,
    .containerFour,
    .containerFive{
      background: #111118;
    }
  
    .containerTwo h1,
    .containerThree h1,
    .containerFour h1,
    .containerFive h1{
      color: #d9d9d9;
      font-size: 5rem;
      text-align: center;
      margin: 66px;
      font-family: 'Exo 2', sans-serif;
      font-weight: 700;
    }
  
  /* container two or section two */
  .containerTwo p{
    color: #fafafa;
    font-family: 'Poppins', sans-serif; 
    font-weight: 400;
    font-size: 25px;
    text-align: center;
  }
  
  .containerTwo section{
    display: grid;
    grid-template-columns: 300px 300px 300px;
    align-items: center;
    justify-content: center;
    margin-top: 2.8%;
  }
  .containerTwo .icon{
    margin: 45px;
    display: inline-block;
  
  }
  
  .containerTwo h2{
    font-size: 20px;
    text-align: center;
    color: #fff;
    font-weight: 300;
    font-family: 'Poppins', sans-serif;
  }
  
  /* container three */
  .containerThree section{
    display: grid;
    grid-template-columns: 300px 300px;
  }
  .containerThree h2{
    color: #fff;
    font-size: 30px;
    width: 500px;
    margin-left: 622px;
    margin-top: 50px;
    margin-right: 110px;
    text-align: left;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
    }

  .containerThree p{
    color: #fff;
    font-size: 1.2rem;
    width: 500px;
    margin: 120px;
    margin-left: 420px;
    text-align: right;
    margin-top: 10px;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
  }
   .ia{
    margin-top: 10px;
    margin-left: 275px;
  }
  .containerThree .apprenticeship h2{
    margin: 120px;
    margin-top: 50px;
    margin-bottom: 0px;
    margin-left: 350px;
  }
  .containerThree .apprenticeship p{
    margin: 120px;
    margin-top: 10px;
    text-align: left;
    margin-left: 350px;
  }
  .learning{
    margin-left: 580px;
  }
  
  /* container four */
  .containerFour h2{
    font-size: 2.8rem;
    background: -webkit-linear-gradient(to left, #A3218E, #4B2395, #06EFFF);
    background: linear-gradient(to left, #A3218E, #4B2395, #06EFFF);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    margin: 120px;
    font-weight: 700;
    font-family: 'Exo 2', sans-serif;
  }
  
  .containerFour section{
    display: grid;
    grid-template-columns: 300px 300px 300px;
    justify-content: center;
    align-items: center;
  }
  .containerFour section .containerFree{
    justify-content: center;
    align-items: center;
  }
   .containerFree{
    width: 270px;
    background-color: #D9D9D9;
    border: none;
    height: 450px;
    }
  
  .containerFour  p{
    width: 220px;
    font-family: 'Poppins', sans-serif;
    color: #000000;
    font-size: 15px;
    margin: 10px 30px 0px 30px;
  }
  
  .containerFour h3{
    font-family: 'Exo 2', sans-serif;
    color: #A3218E;
    text-align: center;
    margin: 20px 10px 20px 10px;
  }
  
  .containerFour .containerMonthly{
    height: 550px;
  }
  
  .containerMonthly h3{
    font-family: 'Exo 2', sans-serif;
    color: #fff;
    background-color: #4B2395;
    padding: 20px 10px 20px 10px;
    margin: 0px;
  }
  
  .containerMonthly h4,
  .containerYear h4{
    font-size: 2rem;
    font-family: 'Poppins', sans-serif;
    color: #000;
    margin: 10px 30px 40px 30px;
    font-weight: bold;
  }
  .containerMonthly span,
  .containerYear span{
    font-size: 0.9rem;
  }
  .containerFour .containerYear{
    height: 600px;
  }
  .containerFour .subtitleplans{
    font-family: 'Poppins', sans-serif;
    text-align: center;
    color:#A3218E;
    font-weight: bold;
    margin-bottom: 40px;
  }
  .containerFour .btnFour{
    font-family: 'Exo 2', sans-serif;
    border: 2px solid #ad2496;
    font-weight: bold;
    font-size: 16px;
    background-color: #D9D9D9;
    color: #A3218E;
    border-radius: 4px;
    cursor: pointer;
    margin: 30px;
    padding: 10px 50px;
  }
  
  .containerFour .monthly{
    color: #fff;
    background-color: #4B2395;
    border: 2px solid #4B2395;
    margin-left: 25px;
  }
  
  .containerYear h3{
    color: #fff;
    background-color: #3958B1;
    padding: 20px 10px 20px 10px;
    margin: 0px;
  }
  .containerFour .year{
    color: #fff;
    background-color: #3958B1;
    border: 2px solid #3958B1;
    margin-left: 25px;
  }
  .containerFive .videoContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    max-width: 100%; 
    max-height: 100%;
    margin-top: 0px;
  }
   .containerFive h1{
    margin: 120px;
   }
  
    
  /* RESPONSIVE SETTINGS */
  
  @media screen and (min-width: 320px) and (max-width: 480px){
    /* container */
    .title{
      margin-left: 30px;
      font-size: 3.2rem;
    }
    .subTitle{
      margin-left: 30px;
      font-size: 1.1rem;
    }
    .description{
      margin-left: 30px;
      margin-right: 20px;
      font-size: 0.9rem;
    }
    /* BUTTON RESPONSIVE  */
    .btn button{
      margin: 2px;
      margin-left: -80px;
      border: solid 1px linear-gradient(to left, #06EFFF, #A3218E, #4B2395);
    }
    .btn a{
      font-size: 10px;
    }
    .btn .btn2{
      margin-left: -80px;
    }
    .btn a h2{
      padding: 10px 79px;
    }
    .btn .btn2 a h2{
      padding: 10px 100px;
    }
    .aurora{
      width: 0%; 
      left: 0px; 
      top: 270px; 
      position: absolute;
    }
  
  
  
    /* container two */
    .containerTwo,
      .containerThree,
      .containerFour,
      .containerFive{
        background: #111118;
      }
  
      .containerTwo h1,
      .containerThree h1,
      .containerFour h1,
      .containerFive h1{
        font-size: 2.0rem;
        margin: 30px;
      }
  
    /* container two or section two */
    .containerTwo p{
      font-size: 0.9rem;
      margin: 30px;
      margin-bottom: -30px;
    }
  
    .containerTwo section{
      grid-template-columns: 170px 170px;
      margin-top: 2.8%;
      margin-bottom: 100px;
    }
    
    .icon{
      width: 80px;
      margin-bottom: 80px;
      margin-top: 0px;
    }
    .containerTwo .icon{
      margin: 45px;
    }
    
    .containerTwo h2{
      font-size: 10px;
      font-weight: 300;
      margin-top: -100px;
      padding-top: 10px;
    }
    
    /*container three */
    .containerThree section{
      grid-template-columns: 0px;
    }
    .containerThree h2{
      font-size: 20px;
      width: 250px;
      margin-left: 622px;
      margin-top: 50px;
      margin-right: 120px;
    
    }
    .containerThree .intelegence p{
      width: 350px;
      height: 100px;
      padding-right: 20px;
      text-align: center;
      padding-top: -2px;
    }
  
    .containerThree .intelegence h2{
      font-size: 19px;
      margin-left: 40px;
      text-align: center;
      margin-top: 20px
    }
  
    .containerThree .intelegence p{
      margin-left: 0px;
      margin-top: 10px;
      margin-bottom: 20px;
      font-size: 11px;
    }
  
    .ia{
      width: auto;
      height: auto;
      margin-left: 85px;
      margin-top: -0px;
    }
    
    .containerThree .apprenticeship h2{
      font-size: 19px;
      margin-left: 40px;
      text-align: center;
      margin-top: 20px
    }
    .containerThree .apprenticeship p{
      height: 200px;
      padding-top: -2px;
      width: 300px;
      margin-left: 10px;
      margin-top: 10px;
      margin-bottom: 0px;
      font-size: 11px;
      text-align: center;
      white-space: nowrap;
      overflow: hidden;
    }
    .learning{
      grid-row: 1;
      width: auto;
      height: auto;
      margin-left: 85px;
      margin-top: -0px;
    }
    /* container four */
    .containerFour h2{
      font-size: 19px;
      margin-left: 0px;
      margin-top: 0px;
      margin-right: 0px;
      margin-bottom: 30px;
    }
  
  
  /* container five */
    .videoContainer{
      margin-bottom: -100px;
    }
  
    .videoContainer video{
      width: 300px;
      height: 200px;
    
    }
  
    .containerFive h1{
      margin-bottom: -140px;
    
    }
  }/*  end media screen */
  
  
  @media screen and (min-width: 768px) and (max-width: 1024px) {
  
    .title{
      margin-left: 2%;
      font-size: 4.5rem;
      margin-right: 2%;
      text-align: center;
      background-size: 100%;
    }
    .subTitle{
      margin-left: 2%;
      font-size: 150%;
      text-align: center;
      margin-right: 2%;
    }
    .description{
      margin-left: 2%;
      margin-right: 2%;
      text-align: center;
      font-size: 20px;
      margin-bottom: -350px;
    }
    /* BUTTON RESPONSIVE  */
    .btn button{
      margin: 2px;
      margin-left: 30px;
    }
    .btn a{
      font-size: 10px;
    }
    .btn .btn2{
      margin: 30px;
      margin-top: 10px;
      margin-bottom: 100px;
    }
    .btn a h2{
      padding: 20px 179px;
    }
    .btn .btn2 a h2{
      padding: 20px 200px;
    }
    .aurora{
      width: 29%; 
      left: 260px; 
      top: 55%; 
      position: relative;
    }
  
  
  
    /* container two */
    .containerTwo,
      .containerThree,
      .containerFour,
      .containerFive{
        background: #111118;
      }
  
      .containerTwo h1,
      .containerThree h1,
      .containerFour h1,
      .containerFive h1{
        font-size: 4.0rem;
        margin: 30px;
      }
  
    /* container two or section two */
    .containerTwo p{
      font-size: 20px;
      margin: 130px;
      margin-bottom: -30px;
      margin-top: 0px;
    }
      
  
    .containerTwo section{
      grid-template-columns: 200px 200px 200px;
      margin-top: 2.8%;
      margin-bottom: 100px;
      margin-right: 50px;
     
    }
    
    .icon{
      width: 150px;
      margin-bottom: 80px;
      margin-top: 0px;
    }
    .containerTwo .icon{
      margin: 45px;
    }
    
    .containerTwo h2{
      font-size: 20px;
      font-weight: 300;
      margin-top: -50px;
      padding-top: 10px;
      margin-left: 35px;
    }
    
    /*container three */
    .containerThree section{
      grid-template-columns: 0px;
    }
    
    .containerThree h2{
      width: 250px;
      margin-left: 622px;
      margin-top: 50px;
      margin-right: 120px;
      margin-bottom: 10px;
    
    }
    
    .containerThree .intelegence p{
      height: 100px;
      margin-left: 190px;
      font-size: 18px;
    }
  
    .containerThree .intelegence h2{
      font-size: 25px;
      margin-left: 440px;
      margin-top: -220px;
      
    }
  
    .ia{
      width: 250px;
      height: 250px;
      margin-left: 20px;
      margin-top: 50px;
    }
    
    .containerThree .apprenticeship h2{
      margin-left: 60px;
    }
    
    .containerThree .apprenticeship p{
      font-size: 18px;
      width: 690px;
      margin-left: 60px;
    }
    .learning{
      width: 230px;
      margin-top: -480px;
      margin-left: 530px;
  
    }
  
  
    /* container four */
    .containerFour h2{
      font-size: 30px;
      margin-left: 0px;
      margin-top: 0px;
      margin-right: 0px;
      margin-bottom: 30px;
    }
  
  .containerFour section{
    align-items: left;
    grid-template-columns: 100px;
    justify-content: left;
  
  }
  .containerFour .containerFree{
    margin-bottom: 10px;
    margin-left: 260px;
    
  }
  /* container five */
    .videoContainer{
      margin-bottom: 0px;
    }
  
    .videoContainer video{
      width: 700px;
      height: 600px;
      margin-top: -250px;
    
    }
  
    .containerFive h1{
      margin-bottom: -140px;
    
    }
  }  /* end midia scren*/
  
  
  @media screen and (max-width: 1280px) and (min-height: 720px) {
    .title{
      font-size: 4.5rem;
    }
    .aurora{ 
      width: 20%;
      position: absolute;
      left: 950px;
      top: 60px;
      display: inline-block;
  
    }
    .subTitle{
      margin-left: 120px;
      font-size: 1.5rem;
    }
    .description{
      font-size: 1rem;
    }
    .section{
      margin-bottom: 50px;
    }
  
    .btn {
      margin-left: 100px;
    }
    
    .btn a h2{
      padding: 10px 129px;
    }
    
    .btn .btn2 a h2{
      padding: 10px 172px;
    }
  
    .containerFour h1{
      margin-bottom: 20px;
    }
  .containerFour h2{
    font-size: 35px;
    margin-top: 0px;
  }
  
  .containerFive h1{
    margin-bottom: 0px;
  }
  
  .videoContainer{
    margin-top: 0px;
  }
  
  .containerThree{
    margin-bottom: 0px;
  }
  }